#sidebar {
  text-align: center;
  background-color: #f8f9fa;
  overflow-y: scroll;
  overflow-x: hidden;
}

#sidebar h2 {
  text-align: left;
  margin-bottom: 0;
  padding: 1rem 1rem;
}

/* Hide the blurb on a small screen */
.blurb {
  display: none;
  padding: 0 1rem;
}

#sidebar-toggle {
  display: none;
}

/*#collapse *:first-child {
  margin-top: 1rem;
}*/

/* add the three horizontal bars icon for the toggle */
.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(0, 0, 0, 0.5)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

#page-content {
  padding: 2rem 1rem;
}

@media (min-width: 60em) {
  #sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    width: 20rem;
    text-align: left;
    transition: margin 0.3s ease-in-out, padding 0.3s ease-in-out;
  }

  #sidebar-toggle {
    display: inline-block;
    position: relative;
    top: 0;
    transition: top 0.3s ease-in-out;
  }

  /* add negative margin to sidebar to achieve the collapse */
  #sidebar.collapsed {
    margin-left: -15.5rem;
    padding-right: 0.5rem;
  }

  /* move the sidebar toggle up to the top left corner */
  #sidebar.collapsed #sidebar-toggle {
    top: -2rem;
  }

  /* also adjust margin of page content */
  #sidebar.collapsed ~ #page-content {
    margin-left: 6.5rem;
  }

  /* move all contents of navbar other than header (containing toggle) further
     off-screen */
  #sidebar.collapsed > *:not(:first-child) {
    margin-left: -6rem;
    margin-right: 6rem;
  }

  /* reveal the blurb on a large screen */
  .blurb {
    display: block;
  }

  /* Hide the toggle on a large screen */
  #navbar-toggle {
    display: none;
  }

  #collapse {
    display: block;
  }

  /* set margins of the main content so that it doesn't overlap the sidebar */
  #page-content {
    margin-left: 22rem;
    margin-right: 2rem;
    transition: margin-left 0.3s ease-in-out;
  }
}

.fa-chevron-right {
  transition: transform 0.2s ease-in-out 0s;
}

/* rotate the chevron when the open class is applied */
li.open .fa-chevron-right {
  transform: rotate(90deg);
}

.nav li {
  font-size: 23px;
  background-color: #eee;
  padding-left: 0.5rem;
}

.nav-link {
}

.nav-link.active {
    background-color: #cce5ff;
    color: #004085;
}

.model-warning {
    padding: 10px;
    background: repeating-linear-gradient(45deg, #F8C420, #F8C420 10px, black 10px, black 20px );
    font-size: 20px;
}

.model-warning .model-warning-inner {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5px;
  margin: 0;
}

.model-warning .model-warning-inner p {
  margin: 0;
}

.model-warning-content {
  margin-left: 20px;
  position: relative;
  margin-top: 10px;
}

.model-warning-content-left {
  width: 10px;
  height: 100%;
  background: repeating-linear-gradient(225deg, #F8C420, #F8C420 10px, black 10px, black 20px );
  display: block;
  position: absolute;
  left: -20px;
}

#language-switcher {
  background: none;
  font-size: 1em;
  margin-top: 15px;
}

h1.logo_index {
  text-align: center;
  font-size: 100px;
  vertical-align: center;
}

h1.logo_index img {
  height: 210px;
  margin-right: 20px;
}

.index_first {
  font-size: 1.4em;
  text-align: center;
}